* {
    margin: 0;
    padding: 0;
}

html {
    background-color: #ccc;
}

body {
    margin: 0 auto;
    height: 100%;
    width: 100%;
    min-width: 650px;
    max-width: 1366px;
}

.conteiner1 {
    min-height: 100%;
    min-width: 100%;
}

.header {
    display: flex;
    justify-content: space-around;
    flex-flow: wrap;
    height: 760px;
    max-width: 1366px;
    min-width: 650px;
    background: url(../images/imagbody.jpg) no-repeat;
    box-shadow: 0px 5px 20px 5px #fff;
    transform: rotateY(2deg);
    -ms-transform: rotateY(2deg);
    -webkit-transform: rotateY(2deg);
    -moz-transform: rotateY(2deg);
    -o-transform: rotateY(2deg);
}
.podheader {
    height: 200px;
    width: 1366px;
    background-color: skyblue;
}

.hh {
    text-transform: uppercase;
    text-align: center;
    margin: 0px 10px 20px 10px;
    padding: 20px;
    height: 180px;
}

.hh h1 {
    font-size: 120px;
    display: block;
    align-items: center;
    color: #1B9AFC;
    border-bottom: 5px solid #FBEA00;
    transition: 2s;
    -ms-transition: 2s;
    -webkit-transition: 2s;
    -moz-transition: 2s;
    -o-transition: 2s;
}

.hh h1:hover {
    transition: 3s;
    text-shadow: 2px 8px 10px black;
    -ms-transition: 3s;
    -webkit-transition: 3s;
    -moz-transition: 3s;
    -o-transition: 3s;
}

.hh h1:hover {
    transition: 3s;
    border: 0px solid #FBEA00;
    color: white;
    border-radius: 100%;
    box-shadow: 0px 0px 80px 10px #FBEA00;
    -ms-transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -o-transition: 1s;
}

#menu {
    min-height: 80px;
    max-height: 131px;
    height: 100%;
}

.menu {
    margin: 5px auto;
    min-width: 100%;
    height: 100%;
    align-items: flex-start;
    display: flex;
    justify-content: space-around;
    flex-flow: wrap;
}

.menu a {
    text-decoration: none;
    font-size: 28px;
    width: 40px;
    color: #fff;
    font-family: VERDANA, sans-serif;
    text-transform: uppercase;
}

.menu a:hover {
    color: #FBEA00;
}

.menu a:active {
    color: red;
}

.main {
    display: flex;
    justify-content: space-around;
    flex-flow: wrap;
    min-height: 800px;
    background-color: #BFADA1;
    max-width: 1366px;
    min-width: 180px;
    background: url(../images/ice_texture2999.jpg);
}

.block {
    background-color: #C4DDFE;
    margin: 50px 10px 80px 10px;
    padding: 10px;
    height: 230px;
    width: 200px;
    outline: 1px solid #000;
    order: 1;
    flex-shrink: 3;
}

.block a {
    text-decoration: none;
}

.block p {
    display: block;
    margin-top: 10px;
    text-transform: uppercase;
    text-align: center;
    color: black;
    font-size: 20px;
}

.blockA1 {
    background: url(../images/cotik1.jpg) no-repeat;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.blockA2 {
    background: url(../images/cotik04.jpg) no-repeat;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.blockA3 {
    background: url(../images/kotik03.jpg) no-repeat;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.blockA4 {
    background: url(../images/cotik05.jpg) no-repeat;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.blockA5 {
    background: url(../images/cotik02.jpg) no-repeat;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.main .block01 {
    flex-basis: 1100px;
    order: 0;
    flex-shrink: 1;
    background-color: #fff;
    margin: 100px 10px 10px 10px;
    padding: 20px;
    background: url(../images/01ice.jpg);
    min-width: 300px;
}

.order h1 {
    text-align: center;
    font-size: 70px;
    text-shadow: 2px 8px 10px black;
}

.order h1:first-child {
    color: white;
}

.order p {
    color: #fff;
    text-align: center;
    font-family: VERDANA, sans-serif;
    font-size: 26px;
    text-shadow: 2px 8px 10px black;
}

.order p:first-letter {
    font-size: 30px;
    color: white;
}

.main .block02 {
    margin-left: 20px;
    width: 200px;
    height: 200px;
    order: 1;
}

.block_2:hover {
    box-shadow: 0px -10px 180px 1px #FBEA00;
    transition: 0.5s;
    -ms-transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
}

.block_2 {
    background: url(../images/aiys.jpg) no-repeat;
    padding: 0px 5px 0px 5px;
    margin: 0px 0px 0px 20px;
    border-radius: 10%;
    background-color: #56F7FF;
    box-shadow: 0px -10px 90px 0.1px #5EB4D5;
    width: 160px;
    order: 1;
    transition: 0.1s;
    -ms-transition: 0.1s;
    -webkit-transition: 0.1s;
    -moz-transition: 0.1s;
    -o-transition: 0.1s;
}

.block_3 {
    padding: 10px;
    margin: 10px 10px 10px 10px;
    height: 50px;
    width: 50px;
}

.block_3 a {
    display: block;
    width: 70px;
    height: 70px;
}

#logo {
    height: 400px;
    width: 400px;
}

.logo {
    margin: 30px auto;
    align-self: flex-start;
    flex-shrink: 0;
    height: 330px;
    width: 320px;
    border: 5px solid #fff;
    border-radius: 50%;
    background-image: url(../images/IMG_1136.JPG );
    order: 0;
}

.logo:hover {
    box-shadow: 0px 0px 20px 10px #FBEA00;
    border: 5px solid #FBEA00;
}
.scr{
    height: 300px;
    width: 1366px;
    background-color: skyblue;
}
.footer {
    box-shadow: 0px 0px 10px 5px #fff;
    transform: rotateX(3deg);
    -ms-transform: rotateX(3deg);
    -webkit-transform: rotateX(3deg);
    -moz-transform: rotateX(3deg);
    -o-transform: rotateX(3deg);
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: wrap;
    min-height: 400px;
    background-color: green;
    background: url(../images/40477-utro-nebo-peyzash-gornyj_hrebet-arktika-1366x768.jpg);
}

.block_4 {
    flex-basis: 1300px;
    height: 120px;
    display: flex;
    justify-content: space-around;
    flex-flow: wrap;
}

.box1 {
    width: 500px;
    height: 50px;
    margin: 0px auto;
}

.block_4 a {
    font-family: VERDANA, sans-serif;
    text-transform: uppercase;
    font-size: 28px;
    text-decoration: none;
    color: #000;
}

.block_4 a:hover {
    text-shadow: 2px 2px 10px #F4DAA8;
}

#telefon {
    display: block;
    float: right;
    width: 500px;
    text-align: center;
}

#copyright {
    position: absolute;
    display: block;
    margin-left: 0px auto;
    font-family: VERDANA, sans-serif;
    text-transform: uppercase;
    font-size: 28px;
    text-decoration: none;
    color: #000;
    width: 500px;
    text-align: center;
}

#copyright:hover {
    text-shadow: 2px 2px 2px #F4DAA8;
}

.block_3a {
    background: url(../images/029-instagram.jpg) no-repeat;
    border-radius: 30%;
}

.block_3a:hover {
    box-shadow: 0px 0px 20px 6px #F4DAA8;
}

.block_3b {
    background: url(../images/008-twitter.jpg) no-repeat;
    border-radius: 20%;
}

.block_3b:hover {
    box-shadow: 0px 0px 20px 6px #F4DAA8;
}

.block_3c {
    background: url(../images/033-google-plus.jpg) no-repeat;
    border-radius: 20%;
}

.block_3c:hover {
    box-shadow: 0px 0px 20px 6px #F4DAA8;
}

.block_3d {
    background: url(../images/036-facebook.jpg) no-repeat;
    border-radius: 20%;
}

.block_3d:hover {
    box-shadow: 0px 0px 20px 6px #F4DAA8;
}

.block_3f {
    background: url(../images/001-youtube.jpg) no-repeat;
    border-radius: 20%;
}

.block_3f:hover {
    box-shadow: 0px 0px 20px 6px #F4DAA8;
}

.block_3g {
    background: url(../images/048-android.jpg) no-repeat;
    border-radius: 20%;
}

.block_3g:hover {
    box-shadow: 0px 0px 20px 6px #F4DAA8;
}